<% if(!right){ %>
    <script>
        check();
        function check() {
            mdui.prompt('请输入管理员密码以验证', '权限验证',
                function (value) {
                    post_check(value);
                },
                function (value) {
                    mdui.alert('请验证管理员密码！');
                    check();
                }
            );
        }
        function post_check(value) {
             $.ajax({
                 type: 'post'
                 ,url: '/admin/identify'
                 ,data:{
                     password: value
                 }
                 ,success: function (res) {
                     res = JSON.parse(res);
                    if(res.right == true){
                        alert('验证成功！即将进入管理界面');
                        window.location = '/admin';
                    }
                    else {
                        alert('验证失败！请重试！');
                        check();
                    }

                 }
                 ,error: function (res) {
                     alert(res);
                 }
             });

        }
    </script>
<% }else{ %>
    <div onload="get('main')" class="mdui-tab" mdui-tab>
        <a href="#main" class="mdui-ripple">博客概况</a>
        <a href="#articles" onclick="get('articles')" class="mdui-ripple">文章管理</a>
        <a href="#reviews" onclick="get('reviews')" class="mdui-ripple">评论管理</a>
    </div>
    <div id="main" class="mdui-p-a-2">
        <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-avatar mdui-icon material-icons">account_circle</i>
                <div class="mdui-list-item-content">管理员用户：<%= adminName %></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-avatar mdui-icon material-icons">folder</i>
                <div class="mdui-list-item-content">博客名称：<%= blogName %></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-avatar mdui-icon material-icons">assignment</i>
                <div class="mdui-list-item-content">网页标题：<%= title %></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-avatar mdui-icon material-icons">chat</i>
                <div class="mdui-list-item-content">导航栏标语：<%= motto %></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-avatar mdui-icon material-icons">chat</i>
                <div class="mdui-list-item-content">副标语：<%= long_motto %></div>
            </li>
        </ul>
    </div>
    <div id="articles" class="mdui-p-a-2"></div>
    <div id="reviews" class="mdui-p-a-2"></div>

    <script>
        function get(type) {
            $.ajax({
                type: 'post'
                ,url: '/admin/' + type
                ,data: {}
                ,success: function (res) {
                    $('body').html(res);
                }
                ,error: function (res) {
                    alert(res);
                }
            });
        }

    </script>

<% } %>